#input{
    width: 80%;
    border-radius: 5px ;
    border-color: #c6ddfe;
}

#search{
    background-color: #198754;
    border-radius: 5px ;
    color: white;
}

#search:hover{
    background-color: rgb(195, 0, 255);
}

.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    gap: 5px;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 63px;
}

h5{
    margin-top: 10px;
    text-align: center;
}

.product4 h5{
    width: 150px;
    margin-left: 40px;
}

.product5 h5{
    width: 150px;
    margin-left: 40px;
}

.product1{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}
.product2{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}
.product3{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}
.product4{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}
.product5{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}
.product6{
    border: 1px solid black;
    border-radius: 7px; 
    border-color: #f0f0f0;
}

.p2{
    margin-top: 37.5px;
}

p{
    margin-left: 10px;
}

#buy{
    margin-left: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 7px;
}

#buy:hover{
    background-color: rgb(195, 0, 255);
}
